.promotion-form {
  padding-left: 45%;

  .error {
      color: red;
  }

  label {
    display: block;
    width: 6em;
    margin: .5em 0;
    color: #000000;
    font-weight: bold;
  }

  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }

  button {
    font-family: Arial, sans-serif;
    background-color: #808080;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #d4d4d4;
  }

  button:disabled {
    background-clip: #eee;
    color: #ccc;
    cursor: auto;
  }
}
